{% extends 'PiFrontBundle::Layout.html.twig' %}

{% block content %}
    {% block content1 %}



<div class="agile_secives " id="services">
    <div class="container">
        {% block content7 %}
        <a href="{{ path('notification') }}" class="button button-isi"><span>Vos événements d'aujord'hui</span><i
                    class="icon glyphicon glyphicon-arrow-right"></i></a>



        <h3 class="agileits-title two">Evenements</h3>
        <div class="markets-grids">


    {%  for Event in Events %}
            {% if Event.archive == 0 %}
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5> {{ Event.titre }} </h5> </br>
                        <table>
                      <tr><td><h5>Adresse :</h5></td> <td><p>{{ Event.adresse }}</p></td></tr>
                      <tr><td><h5>Date début:</h5></td><td><p> {{ Event.dateDebut|date('Y/m/d') }}</p></td> </tr>
                            <tr><td><h5>Date fin:</h5></td><td><p> {{ Event.dateFin|date('Y/m/d') }}</p></td> </tr>
                            <tr><td> <h5> Type :</h5></td><td> <p>{{ Event.type }}</p></td> </tr>
                            <tr><td> <h5> Nombre de place :</h5></td><td> <p>{{ Event.nombrePlace }}</p></td> </tr>
                            <tr><td> <h5> Détails :</h5></td><td> <p><a href="{{ path('readMoreEvent',{'id':Event.id}) }}" class="button button-isi"><span>Read More</span><i class="icon glyphicon glyphicon-arrow-right"></i></a>
                                    </p></td> </tr>
                            </table>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
     {% endif %}
     {% endfor %}


        </div>
        {% endblock content7 %}
</div>
        </div>
{% endblock %}
{% endblock %}