{% extends "layoutAdmin.html.twig" %}
{% block container %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a><i class="fa fa-angle-right"></i>Gallery</li>
    </ol>
    <div class="agile3-grids">

        <div class="gallery-grids">
            <!--<div class="col-md-6 gallery-grids-left">
                <div class="gallery-grid">
                    <a class="example-image-link" href="{{ asset('Back/images/1.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="{{ asset('images/g1.jpg')}}" alt="">
                    </a>
                </div>
                <div class="gallery-grids-left-sub">
                    <div class="col-md-6 gallery-grids-left-subl">
                        <div class="gallery-grid"><a class="example-image-link" href="{{ asset('images/2.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                                <img src="{{ asset('Back/images/g2.jpg')}}" alt="">
                            </a>
                        </div>
                        <div class="gallery-grid gallery-grid-sub">
                            <a class="example-image-link" href="{{ asset('Back/images/g3.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                                <img src="{{ asset('Back/images/g3.jpg')}}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 gallery-grids-left-subr">
                        <div class="gallery-grid">
                            <a class="example-image-link" href="{{ asset('images/g4.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                                <img src="{{ asset('images/g4.jpg')}}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-6 gallery-grids-left">
                <div class="col-md-6 gallery-grids-right">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="{{ asset('images/g5.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="{{ asset('images/g5.jpg')}}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 gallery-grids-right">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="{{ asset('images/g6.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="{{ asset('images/g6.jpg')}}" alt="">
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="gallery-grids-right1">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="{{ asset('images/g7.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="{{ asset('images/g7.jpg')}}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 gallery-grids-right">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="{{ asset('images/g8.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="{{ asset('images/g8.jpg')}}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 gallery-grids-right">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="{{ asset('images/g9.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="{{ asset('images/g9.jpg')}}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 gallery-grids-right">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="{{ asset('images/g10.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="{{ asset('images/g10.jpg')}}" alt="">
                        </a>
                    </div>
                </div>-->

            <div class="col-md-6 gallery-grids-right">
                <div class="gallery-grid">
                    <a class="example-image-link" href="{{ asset('images/g11.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="{{ asset('images/g11.jpg')}}" alt="">
                    </a>
                </div>
            </div>

            <div class="col-md-6 gallery-grids-right">
                <div class="gallery-grid">
                    <a class="example-image-link" href="{{ asset('images/g13.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="{{ asset('images/g13.jpg')}}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 gallery-grids-left-subr">
                <div class="gallery-grid">
                    <a class="example-image-link" href="{{ asset('images/g14.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="{{ asset('images/g14.jpg')}}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 gallery-grids-left">
                <div class="gallery-grid">
                    <a class="example-image-link" href="{{ asset('images/g15.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="{{ asset('images/g15.jpg')}}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 gallery-grids-right">
                <div class="gallery-grid">
                    <a class="example-image-link" href="{{ asset('images/g16.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="{{ asset('images/g16.jpg')}}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 gallery-grids-right">
                <div class="gallery-grid">
                    <a class="example-image-link" href="{{ asset('images/g17.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="{{ asset('images/g17.jpg')}}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 gallery-grids-right">
                <div class="gallery-grid">
                    <a class="example-image-link" href="{{ asset('images/g18.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="{{ asset('images/g18.jpg')}}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 gallery-grids-right">
                <div class="gallery-grid">
                    <a class="example-image-link" href="{{ asset('images/g19.jpg')}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="{{ asset('images/g19.jpg')}}" alt="">
                    </a>
                </div>
            </div>








            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <script src="{{ asset('js/lightbox-plus-jquery1.min.js')}}"> </script>
    </div>

    </div>
{% endblock %}